@model IEnumerable<WebAppLab29_09_22.Models.relationship>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teacher.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teacher.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RID })
        </td>
    </tr>
}

</table>
